# .gitignore for Grails 1.2 and 1.3

# web application files
/Leguanimes/web-app/WEB-INF/classes

# default HSQL database files for production mode
/Leguanimes/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/Leguanimes/stacktrace.log
/Leguanimes/test/reports
/Leguanimes/logs

# project release file
/Leguanimes/*.war

# plugin release files
/Leguanimes/*.zip
/Leguanimes/plugin.xml

# older plugin install locations
/Leguanimes/plugins
Leguanimes/web-app/plugins

# "temporary" build files
/Leguanimes/target
